PRIVATE_KEY=""
ETHERSCAN_API_KEY=
ALCHEMY_API_KEY=
INFURA_TOKEN=
VALIDATOR_ID=1
VALIDATOR_SHARE=0xB817B7C987bE0a0Bc85c807Eb8Dc7848270Cc523
STAKEMANAGER=0x65218A41Fb92637254B4f8c97448d3dF343A3064
TARGET_USER=0xe9B854365FF0F4Ce7a155f177f528cb37A737Ab7

# set to "true" (with MAINNET_RPC_URL) to run the mainnet fork tests
FORK_MAINNET="false"
MAINNET_RPC_URL=""
SUBSQUID_URL="https://kshibarium-squid.shib.io/graphql"

# validator migration scripts (see VALIDATOR_MIGRATION_COMMANDS.md)
SECOND_RPC_URL=""
HEIMDALL_API=""
FORK_RPC_URL="http://127.0.0.1:8545"
MAX_FEE_GWEI="30"
MIN_MARGIN_BONE="50000"
